---
import {
  languajeData,
  FrontEndData,
  BackEndData,
  TestingData,
  titleData,
} from "../data/languajeData.js";
import MainBoxTech from "../components/MainBoxTech.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="My Skills">
  <main>
    <div>
      <h1 class="text-center text-2xl md:text-5xl font-bold">Welcome to my Skills Section</h1>
    </div>
    <div class="p-6">
      <div class="grid grid-cols-1 md:grid-cols-2">
        <!-- Languages -->
        <MainBoxTech
          styleSize={`w-32`}
          grid={`grid grid-cols-2 sm:grid-cols-4 md:grid-cols-2 xl:grid-cols-4 pb-1`}
          title={titleData[0]}
          Array={languajeData}
        />
        <!-- Testing -->
        <MainBoxTech
          styleSize={`md:w-44`}
          grid={`grid grid-cols-2 sm:grid-cols-3 md:grid-cols-2 xl:grid-cols-3 pb-2`}
          title={titleData[1]}
          Array={TestingData}
        />
        <!-- Fron End -->
        <MainBoxTech
          styleSize={`w-28`}
          grid={`grid grid-cols-2 sm:grid-cols-4 md:grid-cols-2 xl:grid-cols-4 p-4`}
          title={titleData[2]}
          Array={FrontEndData}
        />
        <!-- Back End -->
        <MainBoxTech
          styleSize={`w-32`}
          grid={`grid grid-cols-2 sm:grid-cols-4 md:grid-cols-2 xl:grid-cols-4 p-4`}
          title={titleData[3]}
          Array={BackEndData}
        />
      </div>
    </div>
  </main>
</Layout>
